.food-item{
    width: 250px;
    margin: auto;
    background-color: white;
    border-radius: 1px;
    box-shadow: 3px 3px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s; 
}
.food-item-image{
    width: 250px;
    height:200px;
    border-radius: 1px 1px 0px 0px; 
}
.food-item-image.grayscale {
    filter: grayscale(100%);
}
.low-stock-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
}
.sold-out-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
}
.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating{
    font-size: 18px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    color: #676767;
    font-size: 12px;
}
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px -2px;
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.food-item-counter img{
    width: 30px;
}